//Body dee0e2
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$olive: darkolivegreen;
$side-color: beige;
$top-btn-clr: #4a5568;
$cookie-color: #c6e0f5;
$progress-bg-color: #ccc;
$karta-border: #cdcdcd;
$shadow1: rgba(0, 0, 0, 0.2);
$shadow2: rgba(0, 0, 0, 0.19);
$koment-border: #008000;
$koment-text: #1f1f1f ;
$white: $body-bg;
$side-bg: #dee0e2;
$strong-blue: #1b4b72;
$karta-color: #cdcdcd;
